on post-fs
	exec - root -- /system/bin/vndk-detect
	exec - root -- /system/bin/rw-system.sh
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
	export LD_CONFIG_FILE /system/etc/ld.config.${persist.sys.ldcfg}.txt

service phh_on_boot /system/bin/phh-on-boot.sh
    oneshot
    disabled

on property:sys.boot_completed=1
    start phh_on_boot
    chown wifi system /data/misc/wifi
    chown system wifi /data/misc/wifi/hostapd.conf

on property:persist.sys.phh.mainkeys=*
    setprop qemu.hw.mainkeys ${persist.sys.phh.mainkeys}

on property:persist.sys.phh.xiaomi.dt2w=*
    exec_background u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.xiaomi.dt2w"

service hi3650_cameradaemon /system/bin/cameradaemon-hi3650.sh
	user root
	group root
	disabled

service hi3650_cameraserver /system/bin/cameraserver-hi3650.sh
	user root
	group root
	disabled

service hi3650_camerainit /system/bin/camerainit-hi3650.sh
	user root
	group root
	disabled
	oneshot
	
on property:ro.hardware=hi3650 && property:sys.boot_completed=1
	start hi3650_camerainit
